.primary {
  padding: 8px 16px;
  background-color: var(--bg-primary-solid);
  color: var(--bg-secondary);
  border: 1px solid transparent;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 0.2s ease;
}

.primary:hover {
  background-color: var(--bg-primary-solid_hover);
}

.primary:disabled {
  background-color: var(--bg-disabled);
}

.secondary {
  padding: 8px 16px;
  background-color: transparent;
  color: var(--text-secondary);
  border: 1px solid var(--border-primary);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 0.2s ease;
}

.secondary:hover {
  border: 1px solid var(--border-secondary);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  background: var(--bg-secondary);
  color: var(--fg-primary);
  border-radius: 50%;
  border: 1px solid var(--border-primary);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: color 0.2s ease;
}

.icon:hover {
  color: var(--fg-primary-solid);
}
