.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: var(--alpha-black);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .modalContainer {
    width: 100%;
    max-width: 448px;
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius-md);
    padding: 32px;
    position: relative;

    ul {
      list-style-type: '- ';
      padding: 8px 12px;

      li::marker {
        color: var(--text-tertiary);
      }
    }
  }
}

.modalClose {
  position: absolute;
  top: 6px;
  right: 10px;
  line-height: 1;
  font-size: 24px;
  padding: 4px;
  cursor: pointer;
  color: var(--text-secondary);

  &:hover {
    color: var(--text-primary);
  }
}
