@import 'variables.css';

@font-face {
  font-family: "Be Vietnam Pro";
  src: local("Trickster"),
    url("./fonts/BeVietnamPro.woff2") format("woff2");
  font-weight: 300 700;
  font-display: swap;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:root {
  accent-color: var(--fg-accent);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  color: var(--text-secondary);
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: var(--fw-regular);
  font-size: 15px;
  line-height: 1.3;
  background-color: var(--bg-primary);
  position: relative;
  overflow: hidden;

  @include center;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--text-accent);
}

a:hover {
  color: var(--text-accent-solid);
}

a:focus {
  outline-color: var(--border-accent);
}

h2 {
  font-size: 1.25em;
  font-weight: var(--fw-medium);
}

p {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

b,
strong {
  font-weight: var(--fw-semibold);
}

ul {
  list-style-type: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

input,
textarea {
  color: var(--text-primary);
  background-color: inherit;

  &::placeholder {
    color: var(--text-placeholder);
    font-weight: var(--fw-light);
  }

  &:focus {
    outline: 0;
  }
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: 14px;
}

form {
  display: grid;
  gap: 24px;

  fieldset {
    border: 0;
    padding: 0;

    display: grid;
    gap: 4px;
  }

  label {
    color: var(--text-tertiary);
  }

  .header {
    font-size: 16px;
    color: var(--text-primary);
  }

  .main {
    display: grid;
    gap: 16px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

input {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid var(--border-primary);
  border-radius: var(--border-radius-sm);
  background: transparent;

  &:focus {
    border: 1px solid var(--border-secondary);
  }
}

small {
  font-size: 12px;
}

.grid {
  display: grid;
  grid-template-areas:
    'weather weather quote'
    'fact focus focus'
    'bookmarks bookmarks bookmarks';
  gap: 24px;
  max-width: 680px;
}

.container {
  border: 1px solid var(--border-primary);
  background-color: var(--bg-secondary);
  padding: 32px;
  border-radius: var(--border-radius-lg);
}

#widget {
  grid-area: weather;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 24px;
  position: relative;

  .greeting {
    grid-column: span 2;

    input {
      field-sizing: content;
      border: 0;
      color: var(--text-secondary);
    }
  }

  .datetime {
    text-transform: lowercase;
  }

  .time {
    font-size: 28px;
    font-weight: var(--fw-semibold);
    color: var(--text-primary);
  }

  &:hover .hover-show {
    opacity: 1;
    pointer-events: auto;
  }
}

#quote {
  grid-area: quote;
  min-height: 248px;
  aspect-ratio: 1;

}

.label {
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--text-tertiary);
}


#focus {
  grid-area: focus;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  textarea {
    border: 0;
    resize: none;
    text-wrap: balance;
    min-height: 40px;
    //inline-size: 280px;
    field-sizing: content;
  }

  &:hover>textarea:not(:placeholder-shown)+.hover-show {
    opacity: 1;
    pointer-events: auto;
  }
}

#facts {
  grid-area: fact;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  font-size: 14px;

  p {
    text-wrap: pretty;
  }
}

input[name="username"] {
  width: auto;
  padding: 0;
  border-radius: 0;

  &:not(:placeholder-shown) {
    border: 0;
    font-weight: inherit;
    padding: 0;
  }
}

.top-right {
  position: absolute;
  top: 12px;
  right: 12px;
}

[id*="bookmarks"]:hover .hover-show {
  opacity: 1;
  pointer-events: auto;
}

.hover-show {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

@keyframes blink {
  50% {
    fill: transparent
  }
}

.dot {
  animation: 1s blink infinite;
  fill: var(--fg-primary);
}

.dot:nth-child(2) {
  animation-delay: 250ms
}

.dot:nth-child(3) {
  animation-delay: 500ms
}

@media (max-width: 680px) {
  .grid {
    grid-template-areas:
      'weather'
      'focus'
      'bookmarks';
  }

  #quote,
  #facts {
    display: none;
  }
}